/*
Project Name: Administrative Services Landing Page
Client: Administrative Services
Author: Chip Lewinthal
Developer @GA in DC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
}

@import "compass/css3";

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	text-align: left;
}

.wrapper > * {
	padding: 10px;
	flex: 1 100%;
}

.header {
	border: 2px;
	background-color: #0096d2;
	margin: .25rem;	
}

.footer {
	background: #0096d2;
	margin: .25rem;
	height: 50px;
	padding-top: 1em;
}

.main {
	text-align: left;
	background: #fff;
	margin: 5px;
	width: 85px;
	height: 85px; 
	padding: 1%;
}

.aside-1 {
	background-color: #1606d2;
	margin: .25rem;
	width: 75px;
}

.aside-2 {
	background-color: #fdbf11;
	margin: .25rem;
	width: 100px;
}

.aside-3 {
	background-color: #ec008b;
	margin: .25rem;
	width: 100px;
}

.aside-4 {
	background-color: #55b748;
	margin: .25rem;
	width: 100px;
}

.aside-5 {
	background-color: #db2b27;
	margin: .25rem;
	width: 100px;
}


.readmore, .readless {
	text-align: right;
	margin-top: 30px;
}
.readmore a, .readless a {
	color: #043049;
	font-weight: 600;
}

@media all and (min-width: 600px) {
	.aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
	.main    { flex: 3 0px; }
	.aside-1 { order: 1; } 
	.aside-2 { order: 2; }
	.aside-3 { order: 3; }
	.aside-4 { order: 4; }
	.aside-5 { order: 5; }
	.footer  { order: 6; }
}



/******************************************
/* BASE STYLES
/*******************************************/

/*font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

body {
	font-family: 'Raleway', sans-serif;
	padding: 1em; 
}

.wrapper {
	max-width: 1280px;
	margin: .5rem;
}

.wrappernew {
	background-color: #f5f5f5;
	max-width: 1280px;
	margin: .5rem;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	line-height: 1;
	color: white;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1;
}
h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: .85em;
	font-weight: bold;
	font-color: white;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	margin: .75em;
}

nav .line{
	width: .9em;
	height: .15em;
	background: white;
	border-radius: 1em;
	margin-top: .25em;
	margin-bottom: .25em;
}
nav .line:first-of-type{
	margin-top:.7em;
}

.roboto {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	margin: 1em;
}

label {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 0.5em;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
.form-field-no-caption {
	margin-left: 150px;
	padding-left: 0.5em;
}

.page-header {
	font-family: 'Montserrat', sans-serif;
	background: #0096d2;
	color: white;
	overflow: hidden;
	padding: 0 3%;
}
.page-header a {
	font-family: 'Montserrat', sans-serif;
	color: inherit;
	text-decoration: none;
}
.page-header h1 {
	font-family: 'Montserrat', sans-serif;
	float: left;
	color: black;
	margin: 20px 0 0 0;
}
.page-header nav {
	font-family: 'Montserrat', sans-serif;
	font-size: 18	px;
	color: white;
	float: right;
	margin: 1px 0 0 0;
}
.page-header nav li {
	font-family: 'Montserrat', sans-serif;
	float: left;
}

#page-header nav li:first-child{
	float: right;
	display: none;
	cursor: pointer;
}
.page-header nav a {
	display: block;
	padding: 10px;
}
.page-header nav li a:hover {
	color: black;
}
.page-header nav li.active a {
	background: white;
}
.page-header nav strong {
	text-transform: uppercase;
}
.page-header nav strong a {
}

.touts {
	font-family: 'Roboto Condensed', sans-serif;
	overflow: hidden;
	padding: 1% 0;
}
.tout {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 1%;
}
.tout:last-child {
	font-family: 'Roboto Condensed', sans-serif;
	box-shadow: none;
}

.story {
	background-color: #fce39e;
	overflow: hidden;
	padding: 1% 1%;
}
}

.burger {
	font-size: 32px;
	float: left;
	color: white;
	background: none;
	border: none;
}

/******************************************
/* LAYOUT
/*******************************************/


footer {	
	text-align: center;	
	background: #0096d2;
	color: white;
	padding: 2% 3%;
}

@media (min-width: 768px) {
	h1 {
		font-size: 1.75em;
	}
	h2 {
		font-size: 1.25em;
		font-weight: bold;
		line-height: 1.5;
	}
	h3 {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1em;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		margin: 1em;
	}
	.page-header nav {
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		color: white;
		float: right;
		margin: 1px 0 0 0;
	}

	.tout {
		text-align: left;
		float: left;
		width: 33.3333%;
	}
	.story {
		width: 100%;
	}
	
	label {
		font-family: 'Roboto Condensed', sans-serif;
		font-style: italic;
		float: left;
		width: 150px;
		text-align: right;
		margin-right: 0.5em;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
	}
	.form-field-no-caption {
		margin-left: 150px;
		padding-left: 0.5em;
	}
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.myButton {
	background-color:#0096d2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:17px italic;
	font-style:italic;
	padding:12px 12px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}

